<header class="c">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <p>
	<a class='btn' href="https://keybase.io/hasantayyar/pgp_keys.asc">PGP</a>
	<a class='btn' href="https://github.com/hasantayyar" class="page-link github" rel="me">Github</a> 
        {% for page in site.pages %}
          {% if page.title %}
	      <a class='btn' class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </p>
    </nav>


</header>
